In [26]:
import pandas as pd
df=pd.read_csv(r"C:\Users\rezvan\Desktop\file\New folder (10)\Book3.csv")
print(df)

    SalesID  OrderID  Customer  Product   Date   Quantity   UnitPrice
0         1         1       C1       P1       1          2        100
1         2         1        C1       P2      1          4        150
2         3         2       C2       P2       1          5        150
3         4         3       C3       P4       1          3        550
4         5         4        C4       P3      1          1        300
5         6         4        C4       P6      1          6        150
6         7         4        C4      P4       1          6        550
7         8         5        C5       P2      1          3        150
8         9         5        C5       P1      2          6        100
9        10         6        C2       P3      2          1        300
10       11         6        C2      P4       2          3        550
11       12         6        C2       P5      2          6        400
12       13         6        C2       P1      2          4        100
13       14         7        C4       P6      2          3        150
14       15         8        C6       P3      2          2        300
15       16         8        C6      P4       2          3        550
16       17         9        C7       P1      2          5        100
17       18         9        C7       P2      2          3        150
18       19         9        C7       P3      2          1        300
19       20        10        C1      P4       3          6        550
20       21        11        C2       P5      3          3        400
21       22        12        C8       P1      3          6        100
22       23        12        C8       P3      3          3        300
23       24        12        C8       P5      3          5        400
24       25        13        C9       P2      3          2        150

In [80]:
df1=df['Quantity ']
df2=df['UnitPrice']

In [50]:
df3=df1*df2
df4=df3.values
print(df4)

[ 200  600  750 1650  300  900 3300  450  600  300 1650 2400  400  450
  600 1650  500  450  300 3300 1200  600  900 2000  300]

In [54]:
df5=sum(df4)
print(df5)  #مقدار فروش کل

25750

In [77]:
#تعداد کل مشتریان 9 تاست با توجه به csv ساخته شده
#2

In [89]:
df6=('p1=2300,p2=2550,p3=2400,p4=7700,p5=5600,p6=1350')
#با توجه به دیتا ست بدست میاید
#3

In [102]:
pf=list((5,25,10,20,10,10))
f1=list((2300,2550,2400,7700,5600,1350))

In [108]:
a1=list(pf)
a2=list(f1)
print(a1)

[5, 25, 10, 20, 10, 10]

In [109]:
print(a2)
#درامد

[2300, 2550, 2400, 7700, 5600, 1350]

In [131]:
import numpy as np 
a1 = np.array(a1)
a2=np.array(a2)
a3=a2*a1/100
print(a3)
#سود هر محصول

[ 115.   637.5  240.  1540.   560.   135. ]

In [134]:
a4=sum(a3)
print(a4)
#سود کل

3227.5